// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
// $light-gray: #F4F4F4;

$main: #00a680;
$background: #f9f9f9;
$border-gray: #e8e8e8;
$medium-gray: #999999; // for links
