@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Oswald:300,400,700');

// These are not pulling in!?

// @font-face {
//   font-family: 'Merriweather-Regular';
//   src: font-url('Merriweather/Merriweather-Regular.ttf') format('truetype');
// }
// $merriweather-regular: "Merriweather-Regular";

// @font-face {
//   font-family: 'Merriweather-Light';
//   src: font-url('Merriweather/Merriweather-Light.ttf') format('truetype');
// }
// $merriweather-light: "Merriweather-Light";

// @font-face {
//   font-family: 'Oswald-Light';
//   src: font-url('Oswald/Oswald-Light.ttf') format('truetype');
// }
// $oswald-light: "Oswald-Light";

// Define fonts for body and headers
$body-font: "Merriweather", "Helvetica", "sans-serif";
$headers-font: "Oswald", "Helvetica", "sans-serif";
$headings-font-weight: 300;
