.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 66px;
  display: flex;

  .navbar-content {
    padding: 13px 15px;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 20px;
      height: 40px;
      width: 40px;
      background-color: $main;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      #k {
        color: white;
        font-size: 2em;
      }
    }

    #search {
      padding-left: 5px;
      font-weight: lighter;
      width: 300px;
      height: 35px;
      border-radius: 2px;
      border: 1px solid $border-gray;
    }


    .navigation-item {
      padding: 0 10px;
      font-size: 16px;
    }
  }
}


/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
